{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"rel="stylesheet">

    <!--IONICONS-->
    <link href="https://unpkg.com/boxicons/css/boxicons.min.css" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>KONGO Real-Estate |{% block title %}Acceuil{% endblock title %}</title>
</head>
<body>
    {% include "includes/header.html" %}

    {% block content %}
        <h1>Veuillez configurez votre block content</h1>
    {% endblock content %}

    {% include "includes/footer.html" %}
    
    <!--JS-->
    <script src="{% static "js/script.js" %}"></script>
</body>
</html>