{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"rel="stylesheet">


    <link rel="icon" href="{% static 'images/icon.jpg' %}" type="">
    <!--BOX-ICONS-->
    <link href="https://unpkg.com/boxicons/css/boxicons.min.css" rel="stylesheet">
    
    <!--CSS-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>KONGO Real-Estate |{% block title %}Acceuil{% endblock title %}</title>

    <!--HTMX-->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

    <!-- INTEL-INPUT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</head>
<body>
    {% include "includes/header.html" %}

    {% block content %}
        <h1>Veuillez configurez votre block content</h1>
    {% endblock content %}

    {% include "includes/footer.html" %}


    <!--BACK TO TOP-->
    <a href="#top" class="back-to-top">
        <i class="bx bx-up-arrow-alt"></i>
    </a>

    <!--JS-->
    <script src="{% static "js/script.js" %}"></script>


</body>
</html>