:root {

    /* Colors variables */
    --oxford-blue_60: hsla(224, 34%, 13%, 0.6);
    --green-pigment: hsl(142, 76%, 36%);
    --green-tag: hsl(112, 86%, 52%);
    --green-light: hsla(132, 83%, 61%, 0.469);
    --oxford-blue: hsl(224, 34%, 13%);
    --maximum-red: hsl(0, 72%, 51%);
    --eerie-black: hsl(0, 0%, 9%);
    --mint-cream: hsl(146, 41%, 97%);
    --cadet-gray: hsl(215, 20%, 65%);
    --light-gray: hsl(216, 12%, 84%);
    --carcoal_20: hsla(214, 19%, 29%, 0.2);
    --carcoal_15: hsla(214, 19%, 29%, 0.15);
    --carcoal_10: hsla(214, 19%, 29%, 0.10);
    --sea-green: hsl(142, 72%, 29%);
    --gainsboro: hsl(220, 13%, 91%);
    --white_70: hsla(0, 0%, 100%, 0.7);
    --gunmetal: hsl(215, 28%, 17%);
    --manatee: hsl(218, 11%, 65%);
    --mango: hsl(43, 96%, 56%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --azure: #f0ffff;

    /* Font variables */
        /*Family*/
        --ff-spartan: 'League Spartan', sans-serif;

        /*Size*/
        --fs-1: 3.6rem;
        --fs-2: 2.4rem;
        --fs-3: 2rem;
        --fs-4: 1.8rem;
        --fs-5: 1.7rem;
        --fs-main: 10px;

        /*Weight*/
        --fw-900: 900;
        --fw-800: 800;
        --fw-700: 700;
        --fw-600: 600;
        --fw-500: 500;

    /* Spacing variables */
    --section-padding: 20px;

    /* Shadow variables */
    --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0 10px 15px -5px var(--carcoal_20);
    --shadow-3: 0 10px 25px -3px var(--carcoal_20);
    --shadow-4: 0 0 3px var(--carcoal_15);
    --shadow-5: 0 20px 25px -5px var(--carcoal_10), 0 10px 10px -5px var(--carcoal_10);

    /* Radius variables */
    --radius-32: 32px;
    --radius-16: 16px;
    --radius-12: 12px;
    --radius-6: 6px;
    --radius-4: 4px;

    /* Transition variables */
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    box-sizing: border-box;
    font-family: var(--ff-spartan);
    font-size: var(--fs-main);
    scroll-behavior: smooth;
}
body {
    font-size: var(--fs-4);
    background-color: var(--white);
    color: var(--cadet-gray);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select {
    font: inherit;
    border: none;
    background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

i{
    display: block;
}

ul,
ol {
    list-style: none;
}


button {
    background: none;
    border: none;
    cursor: pointer;
}

.color {
    color: var(--green-pigment);
}

.section-title {
    text-align: center;
    margin-bottom: 35px;
    font-size: var(--fs-1);
    font-weight: var(--fw-500);
    color: var(--oxford-blue);
}

.sus-title {
    font-weight: 200;
    font-size: var(--fs-2);
    color: var(--oxford-blue);
    margin-bottom: 15px;
}

/* HEADER SECTION */


.header {
    position: fixed;
    width: 100%;
    padding-inline: 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: 10;
    box-shadow: var(--shadow-1);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    gap: -2px;
}

.navbar_toggle .bx-x {
    display: none;
}
.navbar_toggle.active .bx-x {
    display: block;
    transition: var(--transition);
}

.navbar_toggle.active .bx-menu {
    display: none;
    transition: var(--transition);
}

.navbar_toggle i {
    --ionicon-stroke-width: 30px;
    color: var(--oxford-blue);
    display: block;
    font-size: var(--fs-2);
}

.logo {
    font-size: 2.2rem;
    margin-right: 2px;
    font-weight: var(--fw-600);
    color: var(--black);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo i{
    color: var(--sea-green);
}

.btn {
    padding: 10px 20px;
    border-radius: var(--radius-6);
    margin-inline: auto;
}
.btn-secondary {
    background-color: var(--green-pigment);
    color: var(--white);
    transition: var(--transition);
    border: 1.5px solid transparent;
}
.btn-secondary:hover {
    background-color: transparent;
    transition: var(--transition);
    border: 1.5px solid var(--green-pigment);
    color: var(--green-pigment);
}

.navbar {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    transition: var(--cubic-out);
    z-index: 5;
}

.navbar.active {
    display: block;
    position: absolute;
    top: 95%;
    right: 50%;
    width: 100%;
    transform: translateX(50%);
    background-color: var(--white);
    transition: var(--cubic-out);
    padding: 15px 0;
    padding-left: 35px;
    display: flex;
    visibility: visible;
    height: auto;
    line-height: 50px;
    box-shadow: var(--shadow-1);
    z-index: 5;
}

.nav-item {
    opacity: 0;
}

.navbar.active .nav-item {
    opacity: 1;
    transition: var(--transition);
    color: var(--oxford-blue);
    z-index: 5;
}

.navbar.active .nav-item:is(:hover, :focus) {
    color: var(--green-pigment);
    transition: var(--transition);
}


/*HERO SECTION*/

.hero {
    margin-top: 18%;
    padding: var(--section-padding);
    z-index: 0;
}

.hero .bg {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    border-radius: var(--radius-16);
    line-height: 1.2;
    overflow: hidden;
}

.hero .content {
    text-align: center;
    display: grid;
    grid-row: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-block: 100px;
    padding-inline: 25px;
    border-radius: var(--radius-16);
    background-color: var(--oxford-blue_60);
    place-content: center;
}

.hero .content .first-text {
    font-size: var(--fs-1);
    font-weight: var(--fw-900);
    color: var(--azure);
    margin-bottom: 10px;
    text-transform: capitalize;
    line-height: 1.5;
    padding-block-end: 25px;
}

.hero .content .first-text .color {
    display: block;
}

.hero .content .second-text {
    font-size: var(--fs-2);
    font-weight: var(--fw-800);
    color: var(--light-gray);
    margin-bottom: 20px;
}

.properties_type {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1;
    gap: 20px;
    transform: translate(0, -150%);
    margin-inline: 15px;
    background-color: var(--white);
    z-index: 0;
    border-radius: var(--radius-16);
}
.properties_type .type {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    color: var(--oxford-blue);
    text-transform: capitalize;
    padding-inline: 25px;
    padding-block: 20px;
}
.properties_type .type:hover {
    color: var(--green-pigment);
    cursor: pointer;
}
.hero-form {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding-inline: 15px;
    border-radius: var(--radius-16);
    box-shadow: var(--shadow-1);
    padding: 35px;
}


.hero-form p {
    text-align: center;
    line-height: 1.8;
    font-size: var(--fs-3);
    grid-column: span 2;
    color: var(--oxford-blue);
}
.hero-form .section-title {
    grid-column: span 2;
}

.hero-form .form-control {
    padding: 1.2rem 2rem;
    padding-left: 35px;
    width: 100%;
    border: solid 1px var(--light-gray);
    margin-bottom: 15px;
}
.hero-form .form-group .input-item {
    align-items: center;
}

.hero-form .form-group .input-item i {
    color: var(--green-pigment);
    transform: translate(50%, 180%);
}

.hero-form .form-control::selection,
.hero-form .form-control:focus,
.hero-form .form-control:focus-visible {
    outline: none;
    border: solid 1px var(--green-pigment);
    box-shadow: var(--shadow-1);
}

.form-group label {
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
    color: var(--oxford-blue);
}


/*ABOUT SECTION*/
.about {
    padding: var(--section-padding);
}
.about > .container {
    margin-top: 20px;
}

.about .quote {
    text-align: center;
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}
.about .quote span {
    color: var(--green-pigment);
    padding: 1px 12px;
    background-color: var(--green-light);
    border-radius: var(--radius-32);
    display: block;
    text-align: center;
    align-self: center;
    border: 1px solid var(--green-tag);
}
.about img {
    border-radius: var(--radius-16);
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

.about .content {
    font-size: var(--fs-4);
    color: var(--cadet-gray);
    line-height: 1.6;
}

.about .content p {
    margin-bottom: 20px;
}

/*SERVICES SECTION*/

.services {
    padding: var(--section-padding);
    margin-top: 20px;
}

.services .service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.services .service-item {
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.5;
}

.services .service-item i {
    font-size: var(--fs-2);
    color: var(--green-pigment);
    background-color: var(--green-light);
    padding: 30px;
    border-radius: 50%;
    border: 1px solid var(--green-tag);
}

.service-list .service-item h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    color: var(--oxford-blue);
    margin-bottom: 10px;
}


/* PROPERTIES */

.properties {
    padding: var(--section-padding);
    margin-top: 20px;
}
.properties .more {
    text-align: center;
}
.properties .properties-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.properties .property-item {
    border-radius: var(--radius-16);
    box-shadow: var(--shadow-1);
    background-color: var(--white);
    margin-bottom: 25px;
    transition: var(--transition);
    transition-duration: .8s;
}

.properties .property-item:hover {
    box-shadow: var(--shadow-2);
    transition: var(--transition);
    cursor: pointer;
    transition-duration: .8s;
}

.properties .property-item .after-image {
    padding:0 20px 20px 20px;
}

.properties .property-item img {
    border-top-right-radius: var(--radius-16);
    border-top-left-radius: var(--radius-16);
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
}

.properties .property-item .content {
    line-height: 2;
}

.property-item .after-image h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    color: var(--oxford-blue);
    text-transform: uppercase;
    text-align: center;
}

.property-item .after-image .description {
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
    color: var(--oxford-blue);
    line-height: 1.2;
}

.property-item .after-image .price {
    font-size: var(--fs-2);
    font-weight: var(--fw-700);
    color: var(--eerie-black);
    margin-bottom: 20px;
}

.properties .property-item .option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.properties .property-item .option .option-item {
    font-size: var(--fs-3);
    color: var(--green-pigment);
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.properties .property-item .footer .rating{
    color: var(--mango);
    font-size: var(--fs-3);
}

.properties .property-item .footer .btn{
    margin-inline: unset;
}
.properties .property-item .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-block: 10px;
    border-top: 1px solid var(--light-gray);
}

/* CONTACT */

.contact {
    padding: var(--section-padding);
    padding-bottom: 0;
    text-align: center;
}

.contact .description {
    text-align: center;
    font-size: var(--fs-4);
    color: var(--cadet-gray);
    line-height: 1.6;
    font-weight: var(--fw-300);
    padding-bottom: 15px;
}
.contact .btn {
    display: flex;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
    padding-block: 15px;
}

/*NEWSLETTER*/

.newsletter {
    padding: var(--section-padding);
    padding-top: 35px;
    text-align: center;
    box-shadow: var(--shadow-1);
    margin-inline: 15px;
    border-radius: var(--radius-16);
    transform: translateY(30%);
    background-color: var(--white);
}
.newsletter .section-title {
    margin-bottom: 15px;
    font-size: var(--fs-2);
}
.newsletter .description {
    line-height: 1.6;
    font-size: var(--fs-4);
}

.newsletter .newsletter-form {
    margin-top: 35px;
    padding-inline: 15px;
}

.newsletter .newsletter-form .form-control {
    color: var(--oxford-blue);
    padding: 1.2rem 2rem;
    width: 100%;
    border-radius: var(--radius-32);
    border: solid 1px var(--light-gray);
    margin-bottom: 15px;
}
.newsletter .newsletter-form .form-control::selection,
.newsletter .newsletter-form .form-control:focus {
    outline: none;
    border: solid 1px var(--green-pigment);
}

.newsletter .newsletter-form .btn {
    padding: 1.2rem 2rem;
    border-radius: var(--radius-32);
    margin-inline: auto;
    background-color: var(--green-pigment);
    color: var(--white);
    position: absolute;
    transform: translate(-100%, 1.5%);
}


/* FOOTER */

footer {
    padding-top: 150px;
    background-color: var(--oxford-blue);
    color: var(--white);
    text-align: left;
    font-size: var(--fs-4);
}

footer .footer-content{
    padding-inline: 35px;
    line-height: 1.6;
}
footer .footer-section .about {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer .footer-content .logo{
    justify-content: flex-start;
    color: var(--white);
    font-size: var(--fs-1);
}
footer .footer-content .logo i{
    font-size: var(--fs-1);
}
footer .footer-description {
    padding-bottom: 35px;
    line-height: 1.8;
}
footer i {
    color: var(--green-pigment);
    font-size: var(--fs-3);
    margin-right: 10px;
}

footer .footer-contact {
    margin-bottom: 35px;
}
footer .footer-contact div {
    display: flex;
    align-items: center;
}
footer .socials {
    margin-bottom: 20px;
    margin-inline: auto;
    text-align: left;
    transition: var(--transition);
    transition-duration: 0.3s;
}
footer .socials i:hover {
    transform: scale(1.15);
    transition: var(--transition);
    transition-duration: 0.3s;
}

footer .links {
    padding-bottom: 25px;
    line-height: 2.4;
}

footer .links h2{
    height: fit-content;
}

footer .links a:hover {
    color: var(--green-pigment);
    transition: var(--transition);
}
footer .links li {
    display: flex;
    align-items: center;
}

footer .footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: var(--green-pigment);
    width: 100%;
}

footer .color {
    color: var(--oxford-blue);
    font-weight: var(--fw-700);
}

.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 24px;
    align-items: center;
    background-color: var(--green-pigment);
    color: var(--white);
    padding: 12px;
    border-radius: 50%;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: 1000;
    transition: var(--transition);
    box-shadow: var(--shadow-1);
}
.back-to-top.active {
    visibility: visible;
    opacity: 1;
    transition: var(--transition);
}
.back-to-top i {
    transform: translateY(6%);
}

/* MEDIA QUERIES */

@media (min-width:640px) {
    .container {
        max-width: 640px;
        width: 100%;
        margin-inline: auto;
    }

    /*HERO*/
    .hero {
        margin-top: 12%;
    }
    .hero .content {
        padding-block: 150px;
    }
    .hero .color {
        display: inline !important;
    }
    .hero .properties_type {
        max-width: 50%;
        text-align: center;
        transform: translate(45%, -150%);
    }

    /*ABOUT*/
    .about .content .quote {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    /*SERVICES*/
    .services .service-list {
        grid-template-columns: repeat(2, 1fr);
    }


    /*PROPERTIES*/
    .properties .property-item .after-image{
        padding-inline: 50px;
    }
    /* NEWSLETTER */
    .newsletter {
        width: 70%;
        transform: translate(20%, 30%);
    }

}
@media (min-width:768px) {
    :root {

        /*Spacing variables*/
        --section-padding: 35px;

    }

    .container {
        max-width: 768px;
        width: 100%;
    }
    /*HEADER*/
    .header .logo {
        font-size: var(--fs-3);
        width: 250px;
        justify-content: flex-start;
    }

    /*HERO*/

    .hero {
        margin-top: 7%;
    }
    .hero .content {
        text-align: left;
        padding-inline: 120px;
    }
    .hero-form {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-form .btn {
        position: relative;
        left: 53%;
    }
    /*ABOUT*/
    .about .container {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 20px;
        align-items: center;
    }
    .about .section-title {
        margin-bottom: 12px;
    }
    .about img {
        height: auto;
        width: 100%;
    }

    .about .btn {
        transform: translateX(190%);
    }

    /*NEWSLETTER*/
    .newsletter {
        width: 90%;
        transform: translate(4%, 30%);
        text-align: left;
    }
    .newsletter .section-title {
        text-align: left;
    }
    .newsletter .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    /*FOOTER SECTION*/
    footer .footer-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    footer .footer-contact {
        margin-bottom: 0;
        transform: translateY(5%);
    }

    /*DETAILS VIEW / OPTIONS*/
    .options .options-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 75%;
        position: relative;
        left: 12%;
    }
    .options .options-grid .option-item {
        padding-block: 25px ;
        display: block;
        margin-inline: auto;
    }

    /*DETAIL VIEW / BASICS*/

    .detail-content .basics .content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 150px;
        width: 90%;
        position: relative;
        left: 5%;
    }
    .detail {
        margin-top: 10% !important;
    }

    .buildings-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 150px;
        width: 90%;
        position: relative;
        left: 5%;
    }
    .detail-content .description p{
        width: 90%;
        line-height: 2.2 !important;
        position: relative;
        left: 5%;
    }

    .sus-title {
        margin-block: 35px;
    }
}

@media (min-width:950px) {
    .container {
        max-width: 950px;
        width: 100%;
    }
    /*NAVBAR*/
    .navbar,
    .navbar.active {
        all:unset;
        margin-inline: auto;
        width: 100%;
    }
    .navbar .navbarlist {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding-inline: 15px;
    }
    .nav-item {
        opacity: 1;
        transition: var(--transition);
        color: var(--oxford-blue);
    }
    .navbar_toggle {
        display: none;
        visibility: hidden;
    }
    /*HERO*/
    .hero .container .bg .content .first-text,
    .hero .container .bg .content .second-text{
        max-width: 75%;
    }
    .hero .properties_type {
        grid-template-columns: 4fr 5fr;
    }

    /*PROPERTIES*/
    .properties .properties-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /*  ABOUT   */
    .about .container {
        gap: 50px;
    }
    .detail {
        margin-top: 8% !important;
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024;
        width: 100%;
    }
    /*NAVBAR*/
    .navbar,
    .navbar.active {
        width: 70%;
    }

    /*HERO*/

    .hero-form {
        max-width: 80%;
        transform: translateX(12%);
    }

    /*CONTACT*/
    .contact {
        max-width: 60%;
        transform: translateX(35%);
    }

    /*FOOTER*/
    footer .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 0;
    }

    footer .footer-section {
        margin-left: 15px;
    }
    footer .logo {
        transform: translateY(5%);
    }
    .detail {
        margin-top: 5% !important;
    }
}

@media (min-width:1250px) {

    .container {
        max-width: 1200px;
        width: 100%;
    }

    /*HERO*/
    .hero .container .bg .content .first-text,
    .hero .container .bg .content .second-text{
        max-width: 65%;
    }
    /* ABOUT */
    .about .content {
        font-size: var(--fs-4);
        font-weight: var(--fw-300);
    }

    /*PROPERTIES*/

    .properties .properties-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .property-item img {
        margin: 0 !important;
    }
    .property-item .after-image{
        padding: 15px !important;
    }

    /*HERO*/
    .hero {
        margin-top: 4%;
    }
    .hero .container {
        max-width: unset;
    }
    .detail {
        margin-top: 5% !important;
    }

}
@media (min-width:1650px) {
    .container {
        max-width: 1630px;
        width: 100%;
    }
    /*HERO*/
    .hero .container .bg .content .first-text,
    .hero .container .bg .content .second-text{
        max-width: 50%;
    }

    /*ABOUT*/
    .about .container {
        gap: 5px;
    }

    /*PROPERTIES*/

    .properties .properties-list {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*
*DÉTAILS STYLESHEET
*/


/*GLOBAL*/
.detail {
    margin-top: 22%;
}
.container {
    padding: var(--section-padding);
}
.detail .section-title {
    text-align: left;
    margin-bottom: 5px;
}
.detail img {
    border-radius: 10px;
    width: 100%;
}
.detail-header-text {
    display: grid;
    grid-template-columns: 1;
    gap: 5px;
}
.detail .left h1 {
    font-weight: var(--fw-300);
    color: var(--oxford-blue);
    margin-block: 15px;
}
.detail .left .icons {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.detail .right {
    text-align: left;
    margin-top: 15px;
}
.detail .price {
    font-size: var(--fs-2);
    color: var(--oxford-blue);
    margin-bottom: 15px;
}
.detail .right .btn {
    width: fit-content;
    margin-inline: unset;
}

.detail-content {
    margin-block: 20px;
}

.trait {
    height: 1px;
    display: block;
    background-color: var(--cadet-gray);
    width: 100%;
}
.detail-content .sus-title {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
/*BASICS*/
.detail-content .basics {
    display: grid;
    grid-template-columns: 1;
    padding-block: 15px;
}

.basics .basics-item {
    color: var(--oxford-blue);
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.detail-content  .description {
    padding-bottom: 15px;
    color: var(--oxford-blue);
    line-height: 1.6;
}
/*OPTIONS*/
.options {
    padding-bottom: 15px;
    text-align: center;
    color: rgb(49, 45, 45);
}

.options-grid {
    display: grid;
    grid-template-columns: 1;
}
.options .option-item h3{
    font-weight: 100;
    margin-bottom: 5px;
    color: var(--black) !important;
}
.options .option-item {
    padding-block: 15px;
}
/*BUILDINGS*/
.buildings {
    padding-bottom: 15px;
    text-align: left;
    color: rgb(49, 45, 45);
}
.buildings-grid {
    display: grid;
    grid-template-columns: 1;
}
.buildings .building-item h3{
    font-weight: 100;
    margin-bottom: 5px;
    color: var(--black) !important;
}
.buildings .building-item {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
