{% extends 'base.html' %}
{% load static %}

{% block title %} Propriétés{% endblock %}
{% block search_title %}Trouver votre maison de rêve !{% endblock %}

{% block content %}

{% include 'includes/search_form.html' %}

<section class="properties">
    <div class="container">
        <h1 class="section-title">{{ title }}</h1>
        <div class="spinner htmx-indicator"></div>
        <div class="properties-list" id="results">
            {% include 'includes/results.html' %}
        </div>
    </div>
</section>
{% endblock %}
