
    <!--FOOTER-->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-description">
                    <h1 class="logo">
                        <i class="bx bx-buildings"></i>
                        Real-Estate
                    </h1>
                    <p>
                        Chez KONGO Real-Estate, nous croyons que chaque projet immobilier est unique.  
                        Depuis notre création, nous nous engageons à offrir à nos clients un accompagnement personnalisé, basé sur l'écoute, la confiance et l'expertise.  
                    </p>
                </div>
                <div class="footer-section">
                    <div class="footer-contact">
                        <h2>Locations</h2>
                        <div><i class="bx bx-map"></i> Ouagadougou, Burkina Faso</div>
                        <div><i class="bx bx-phone"></i> +226 70 00 00 00</div>
                        <div><i class="bx bx-envelope"></i> <a href="mailto:hermes@gmail.com">hermes@gmail.com</a></div>
                    </div>
                    <div class="links">
                        <h2>Liens rapides</h2>
                        <ul>
                            <li><i class='bx bx-chevron-right'></i><a href="#">Acceuil</a></li>
                            <li><i class='bx bx-chevron-right'></i><a href="#">Achats</a></li>
                            <li><i class='bx bx-chevron-right'></i><a href="#">Location</a></li>
                            <li><i class='bx bx-chevron-right'></i><a href="#">Tous les biens</a></li>
                            <li><i class='bx bx-chevron-right'></i><a href="#">A propos de nous</a></li>
                            <li><i class='bx bx-chevron-right'></i><a href="#">Contact</a></li>
                        </ul>
                        <div class="socials">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2025 <span class="color">KONGO Real-Estate</span> | Tous droits réservés
        </div>
    </footer>