
    <!--HEADER-->
    <header class="header" data-header>
        <div class="container">
            <a href="{% url 'home' %}" class="logo">
                <i class="bx bx-buildings"></i>
                <p>Real-Estate</p>
            </a>
            <nav class="navbar">
                <ul class="navbarlist">
                    <li><a href="{% url 'home' %}" class="nav-item">Acceuil</a></li>
                    <li><a href="{% url 'properties:index' %}" class="nav-item">Nos biens</a></li>
                    <li><a href="#" class="nav-item">A propos</a></li>
                </ul>
            </nav>
            <a href="#" class="btn btn-secondary">Contact</a>
            <button type="button" class="navbar_toggle">
                <i class="bx bx-menu" aria-hidden="true"></i>
                <i class="bx bx-x" aria-hidden="true"></i>
            </button>
        </div>
    </header>
