<div class="properties-list">
                {% for property in properties %}
                    <div class="property-item">
                        <img src="{{ property.image.url }}" alt="Maison">
                        <div class="after-image">
                            <div class="content">
                                <h3 class="title">{{ property.name }}</h3>
                                <p class="location"><i class='bx bx-location-plus' ></i>{{property.country}}, {{ property.city }}</p>
                                <p class="description">
                                    {{ property.description|truncatewords:25 }}
                                </p>
                                {% if porperty.category.name == 'Achat' %}
                                    <p class="price">{{ property.price }}$</p>
                                {% else %}
                                    {% if property.category.category_type == 'mensuel' %}
                                        <p class="price">{{ property.price }}$ /Mois</p>
                                    {% elif property.category.category_type == 'journalier' %}
                                        <p class="price">{{ property.price }}$ /Jour</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="option">
                                <div class="option-item">
                                    <i class="bx bx-bed"></i>
                                    <span>{{ property.bedrooms }}</span>
                                </div>
                                <div class="option-item">
                                    <i class="bx bx-bath"></i>
                                    <span> {{ property.bathrooms }} </span>
                                </div>
                                <div class="option-item">
                                    <i class="bx bx-cube"></i>
                                    <span>{{ property.surface }}m²</span>
                                </div>
                            </div>
                            <div class="footer">
                                <a href="#" class="btn btn-secondary">Détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>