
<h1 class="section-title">{% block search_title %}Trouver votre maison de rêve{% endblock %}</h1>
<form action="" class="hero-form">
    <div class="form-group">
        <label for="search">Rechercher</label>
        <div class="input-item">
            <i class="bx bx-search"></i>
            <input type="search" name="search" id="search" placeholder="Rechercher un bien..." class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="categories">Sélectionnez une catégorie</label>
        <div class="input-item">
            <i class="bx bx-category"></i>
            {{ form.category }}
        </div>
    </div>
    <div class="form-group">
        <label for="minprice">Prix minimum</label>
        <div class="input-item">
            <i class="bx bx-dollar"></i>
            {{ form.min_price }}
        </div>
    </div>
    <div class="form-group">
        <label for="maxprice">Prix maximum</label>
        <div class="input-item">
            <i class="bx bx-dollar"></i>
            {{ form.max_price }}
        </div>
    </div>
    <button type="submit" class="btn btn-secondary">Soumettre</button>
</form>